/**
  @prop --fw-pill-color: Pill color
  @prop --fw-pill-background-color: Pill background color
  @prop --fw-pill-padding: Pill padding
  @prop --fw-pill-border: Pill border
  @prop --fw-pill-border-radius: Pill border radius
*/

:host {
  --fw-pill-border: none;
  --fw-pill-border-radius: 16px;
  --fw-pill-padding: 5px 12px 5px 8px;
  --fw-pill-color: #{$color-smoke-700};
  --fw-pill-background-color: #{$color-smoke-50};
}

.pill {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--fw-pill-color, --color-text-secondary);
  background-color: var(--fw-pill-background-color, --color-fill-base);
  padding: var(--fw-pill-padding);
  border: var(--fw-pill-border);
  border-radius: var(--fw-pill-border-radius, --border-radius-circular);
  font-weight: var(--font-weight-medium, 600);
  font-size: var(--font-size-12, $font-size-12);
  line-height: var(--line-height-20, $line-height-label);

  ::slotted(*) {
    height: 14px;
    width: 14px;
  }

  .pill-icon {
    height: 14px;
    width: 14px;
    margin-inline-end: 6px;
  }

  ::slotted(fw-icon) {
    --fw-icon-size: 14px;
    --fw-icon-color: var(--color-icon-secondary, #{$color-smoke-700});
  }

  &--blue {
    background-color: var(--color-fill-semantic-info-mildest, $color-azure-50);
    color: var(--color-text-semantic-info, $color-azure-800);

    ::slotted(fw-icon) {
      --fw-icon-color: var(--color-text-semantic-info, #{$color-azure-800});
    }
  }

  &--red {
    background-color: var(
      --color-fill-semantic-error-mildest,
      $color-persimmon-50
    );
    color: var(--color-text-semantic-error, $color-persimmon-800);

    ::slotted(fw-icon) {
      --fw-icon-color: var(
        --color-icon-semantic-error,
        #{$color-persimmon-800}
      );
    }
  }

  &--green {
    background-color: var(
      --color-fill-semantic-success-mildest,
      $color-jungle-50
    );
    color: var(--color-text-semantic-success, $color-jungle-800);

    ::slotted(fw-icon) {
      --fw-icon-color: var(--color-icon-semantic-success, #{$color-jungle-800});
    }
  }

  &--yellow {
    background-color: var(
      --color-fill-semantic-warning-mildest,
      $color-casablanca-50
    );
    color: var(--color-text-semantic-warning, $color-casablanca-700);

    ::slotted(fw-icon) {
      --fw-icon-color: var(
        --color-icon-semantic-warning,
        #{$color-casablanca-700}
      );
    }
  }

  &--grey {
    background-color: var(--color-fill-base, $color-smoke-50);
    color: var(--color-text-secondary, $color-smoke-700);

    ::slotted(fw-icon) {
      --fw-icon-color: var(--color-icon-secondary, #{$color-smoke-700});
    }
  }
}
