:host {
  display: inline-block;
  --size: 3rem;
}

.avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;

  font-size: calc(var(--size) * 0.5);
  font-weight: var(--font-weight-regular, $font-weight-400);
  overflow: hidden;
  user-select: none;
  vertical-align: middle;

  &__initials {
    line-height: 1;
    font-weight: var(--font-weight-semi-bold, 600);
    font-size: var(--font-size-32, 32px);
    text-align: center;
    text-transform: uppercase;
  }
  &__image {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &--dark {
    background-color: var(
      --color-fill-semantic-info-mildest,
      $avatar-background-dark
    );
    color: var(--color-text-secondary, $color-milk);

    &--initials {
      border: var(--color-boundary-semantic-info-mild, $avatar-border-dark);
    }

    &--default {
      background-color: var(
        --color-fill-semantic-info-mildest,
        $avatar-background-default
      );
    }
  }

  &--light {
    background-color: var(--color-fill-base, $avatar-background-light);
    color: var(--color-text-secondary, $color-elephant-900);

    &--initials {
      border: var(--color-boundary-border-mild, $avatar-border-light);
    }
  }

  &--error {
    background-color: var(
      --color-fill-semantic-error-mildest,
      $avatar-background-error
    );
    color: var(--color-text-secondary, $color-elephant-900);

    &--initials {
      border: var(--color-boundary-semantic-error-mild, $avatar-border-error);
    }
  }

  &--circle {
    border-radius: 50%;
  }
  &--rounded {
    border-radius: 4px;
  }
  &--square {
    border-radius: 0;
  }

  &--xxlarge {
    width: 96px;
    height: 96px;
    .avatar__initials {
      font-size: var(--font-size-32, 32px);
    }
  }
  &--xlarge {
    width: 72px;
    height: 72px;
    .avatar__initials {
      font-size: var(--font-size-24, 24px);
    }
  }
  &--large {
    width: 56px;
    height: 56px;
    .avatar__initials {
      font-size: var(--font-size-20, 20px);
    }
  }
  &--medium {
    width: 40px;
    height: 40px;
    .avatar__initials {
      font-size: var(--font-size-16, 16px);
    }
  }
  &--small {
    width: 32px;
    height: 32px;
    .avatar__initials {
      font-size: var(--font-size-16, 14px);
    }
  }
  &--xsmall {
    width: 24px;
    height: 24px;
    .avatar__initials {
      font-size: var(--font-size-12, 12px);
    }
  }
  &--xxsmall {
    width: 20px;
    height: 20px;
    .avatar__initials {
      font-size: var(--font-size-12, 10px);
    }
  }
}
