:root.dew-dark-theme {
  --color-text-brand: #6aa8ff;
  --color-text-primary: #eaeef2;
  --color-text-secondary: #8e9dac;
  --color-text-disabled: #586d7e;
  --color-text-placeholder: #6f8396;
  --color-text-inverse: #000000;
  --color-text-semantic-success: #009272;
  --color-text-semantic-warning: #cf6121;
  --color-text-semantic-error: #f33735;
  --color-text-semantic-info: #6aa8ff;
  --color-text-semantic-highlight: #9561fb;
  --color-icon-primary: #8e9dac;
  --color-icon-secondary: #6f8396;
  --color-icon-selected: #6aa8ff;
  --color-icon-disabled: #586d7e;
  --color-icon-inverse: #000000;
  --color-icon-semantic-success: #009272;
  --color-icon-semantic-warning: #cf6121;
  --color-icon-semantic-error: #f33735;
  --color-icon-semantic-info: #6aa8ff;
  --color-icon-semantic-highlight: #9561fb;
  --color-fill-surface: #0b0c0d;
  --color-fill-container: #141617;
  --color-fill-base: #191a1c;
  --color-fill-neutral-mild: #97badb;
  --color-fill-neutral: #b4d6f4;
  --color-fill-neutral-bold: #dff0ff;
  --color-fill-brand: #6aa8ff;
  --color-fill-semantic-success-mildest: #00382b;
  --color-fill-semantic-success-mild: #006445;
  --color-fill-semantic-success: #00795c;
  --color-fill-semantic-success-bold: #009272;
  --color-fill-semantic-warning-mildest: #522400;
  --color-fill-semantic-warning-mild: #8d4100;
  --color-fill-semantic-warning: #ac5000;
  --color-fill-semantic-warning-bold: #cf6121;
  --color-fill-semantic-error-mildest: #611112;
  --color-fill-semantic-error-mild: #a62426;
  --color-fill-semantic-error: #cd2629;
  --color-fill-semantic-error-bold: #f33735;
  --color-fill-semantic-error-bolder: #f97071;
  --color-fill-semantic-info-mildest: #002293;
  --color-fill-semantic-info-mild: #276cf0;
  --color-fill-semantic-info: #4c91ff;
  --color-fill-semantic-info-bold: #6aa8ff;
  --color-fill-semantic-highlight-mildest: #410687;
  --color-fill-semantic-highlight-mild: #7211e3;
  --color-fill-semantic-highlight: #8537fa;
  --color-fill-semantic-highlight-bold: #9561fb;
  --color-fill-semantic-on: #276cf0;
  --color-fill-semantic-off: #6f8396;
  --color-overlay-base: var(--color-overlay-neutral);
  --color-overlay-container: var(--color-fill-surface);
  --color-overlay-base-container: var(--color-fill-container);
  --color-overlay-neutral: rgba(59, 72, 84, 0.2);
  --color-overlay-backdrop-bold: rgba(18, 51, 76, 0.7);
  --color-overlay-semantic-success: rgba(0, 81, 63, 0.2);
  --color-overlay-semantic-warning: rgba(114, 54, 0, 0.2);
  --color-overlay-semantic-error: rgba(137, 28, 30, 0.2);
  --color-overlay-semantic-info: rgba(0, 63, 210, 0.2);
  --color-overlay-semantic-highlight: rgba(93, 12, 188, 0.2);
  --color-boundary-border-mildest: #27313b;
  --color-boundary-border-milder: #2b3640;
  --color-boundary-border-mild: #303c46;
  --color-boundary-border: #6f8396;
  --color-boundary-border-boldest: #eaeef2;
  --color-boundary-border-inverse: #000000;
  --color-boundary-divider-mildest: #27313b;
  --color-boundary-divider: #303c46;
  --color-boundary-brand: #4c91ff;
  --color-boundary-semantic-success-mildest: #00382b;
  --color-boundary-semantic-success-mild: #004435;
  --color-boundary-semantic-success: #00795c;
  --color-boundary-semantic-warning-mildest: #522400;
  --color-boundary-semantic-warning-mild: #622d00;
  --color-boundary-semantic-warning: #ac5000;
  --color-boundary-semantic-error-mildest: #611112;
  --color-boundary-semantic-error-mild: #751618;
  --color-boundary-semantic-error: #cd2629;
  --color-boundary-semantic-error-bold: #f97071;
  --color-boundary-semantic-info-mildest: #002293;
  --color-boundary-semantic-info-mild: #0030b3;
  --color-boundary-semantic-info: #4c91ff;
  --color-boundary-semantic-highlight-mildest: #410687;
  --color-boundary-semantic-highlight-mild: #4f09a1;
  --color-boundary-semantic-highlight: #8537fa;
  --color-shadow: #12334c;
  --color-shadow-5: rgba(18, 51, 76, 0.05);
  --color-shadow-10: rgba(18, 51, 76, 0.1);
  --color-shadow-20: rgba(18, 51, 76, 0.2);
  --color-shadow-25: rgba(18, 51, 76, 0.25);
  --color-shadow-100: #12334c;
  --color-scrim: #12334c;
  --color-key: #ffffff;
  --color-chart-category-01: #5f9cec;
  --color-chart-category-02: #8cc0e3;
  --color-chart-category-03: #eb8900;
  --color-chart-category-04: #ffcf57;
  --color-chart-category-05: #778e4a;
  --color-chart-category-06: #72ba7a;
  --color-chart-category-07: #907d52;
  --color-chart-category-08: #e0c8af;
  --color-chart-category-09: #558c93;
  --color-chart-category-10: #b4d8d8;
  --color-chart-category-11: #d54e16;
  --color-chart-category-12: #ffa5b7;
  --color-chart-category-13: #175caa;
  --color-chart-category-14: #2082a6;
  --color-chart-category-15: #a155b9;
  --color-chart-category-16: #524094;
  --color-chart-category-17: #c39a6d;
  --color-chart-category-18: #fdb416;
  --color-chart-category-19: #b487e2;
  --color-chart-category-20: #f765a4;
  color-scheme: dark;
}
@media (prefers-color-scheme: dark) {
  :root.dew-system-theme {
    --color-text-brand: #6aa8ff;
    --color-text-primary: #eaeef2;
    --color-text-secondary: #8e9dac;
    --color-text-disabled: #586d7e;
    --color-text-placeholder: #6f8396;
    --color-text-inverse: #000000;
    --color-text-semantic-success: #009272;
    --color-text-semantic-warning: #cf6121;
    --color-text-semantic-error: #f33735;
    --color-text-semantic-info: #6aa8ff;
    --color-text-semantic-highlight: #9561fb;
    --color-icon-primary: #8e9dac;
    --color-icon-secondary: #6f8396;
    --color-icon-selected: #6aa8ff;
    --color-icon-disabled: #586d7e;
    --color-icon-inverse: #000000;
    --color-icon-semantic-success: #009272;
    --color-icon-semantic-warning: #cf6121;
    --color-icon-semantic-error: #f33735;
    --color-icon-semantic-info: #6aa8ff;
    --color-icon-semantic-highlight: #9561fb;
    --color-fill-surface: #0b0c0d;
    --color-fill-container: #141617;
    --color-fill-base: #191a1c;
    --color-fill-neutral-mild: #97badb;
    --color-fill-neutral: #b4d6f4;
    --color-fill-neutral-bold: #dff0ff;
    --color-fill-brand: #6aa8ff;
    --color-fill-semantic-success-mildest: #00382b;
    --color-fill-semantic-success-mild: #006445;
    --color-fill-semantic-success: #00795c;
    --color-fill-semantic-success-bold: #009272;
    --color-fill-semantic-warning-mildest: #522400;
    --color-fill-semantic-warning-mild: #8d4100;
    --color-fill-semantic-warning: #ac5000;
    --color-fill-semantic-warning-bold: #cf6121;
    --color-fill-semantic-error-mildest: #611112;
    --color-fill-semantic-error-mild: #a62426;
    --color-fill-semantic-error: #cd2629;
    --color-fill-semantic-error-bold: #f33735;
    --color-fill-semantic-error-bolder: #f97071;
    --color-fill-semantic-info-mildest: #002293;
    --color-fill-semantic-info-mild: #276cf0;
    --color-fill-semantic-info: #4c91ff;
    --color-fill-semantic-info-bold: #6aa8ff;
    --color-fill-semantic-highlight-mildest: #410687;
    --color-fill-semantic-highlight-mild: #7211e3;
    --color-fill-semantic-highlight: #8537fa;
    --color-fill-semantic-highlight-bold: #9561fb;
    --color-fill-semantic-on: #276cf0;
    --color-fill-semantic-off: #6f8396;
    --color-overlay-base: var(--color-overlay-neutral);
    --color-overlay-container: var(--color-fill-surface);
    --color-overlay-base-container: var(--color-fill-container);
    --color-overlay-neutral: rgba(59, 72, 84, 0.2);
    --color-overlay-backdrop-bold: rgba(18, 51, 76, 0.7);
    --color-overlay-semantic-success: rgba(0, 81, 63, 0.2);
    --color-overlay-semantic-warning: rgba(114, 54, 0, 0.2);
    --color-overlay-semantic-error: rgba(137, 28, 30, 0.2);
    --color-overlay-semantic-info: rgba(0, 63, 210, 0.2);
    --color-overlay-semantic-highlight: rgba(93, 12, 188, 0.2);
    --color-boundary-border-mildest: #27313b;
    --color-boundary-border-milder: #2b3640;
    --color-boundary-border-mild: #303c46;
    --color-boundary-border: #6f8396;
    --color-boundary-border-boldest: #eaeef2;
    --color-boundary-border-inverse: #000000;
    --color-boundary-divider-mildest: #27313b;
    --color-boundary-divider: #303c46;
    --color-boundary-brand: #4c91ff;
    --color-boundary-semantic-success-mildest: #00382b;
    --color-boundary-semantic-success-mild: #004435;
    --color-boundary-semantic-success: #00795c;
    --color-boundary-semantic-warning-mildest: #522400;
    --color-boundary-semantic-warning-mild: #622d00;
    --color-boundary-semantic-warning: #ac5000;
    --color-boundary-semantic-error-mildest: #611112;
    --color-boundary-semantic-error-mild: #751618;
    --color-boundary-semantic-error: #cd2629;
    --color-boundary-semantic-error-bold: #f97071;
    --color-boundary-semantic-info-mildest: #002293;
    --color-boundary-semantic-info-mild: #0030b3;
    --color-boundary-semantic-info: #4c91ff;
    --color-boundary-semantic-highlight-mildest: #410687;
    --color-boundary-semantic-highlight-mild: #4f09a1;
    --color-boundary-semantic-highlight: #8537fa;
    --color-shadow: #12334c;
    --color-shadow-5: rgba(18, 51, 76, 0.05);
    --color-shadow-10: rgba(18, 51, 76, 0.1);
    --color-shadow-20: rgba(18, 51, 76, 0.2);
    --color-shadow-25: rgba(18, 51, 76, 0.25);
    --color-shadow-100: #12334c;
    --color-scrim: #12334c;
    --color-key: #ffffff;
    --color-chart-category-01: #5f9cec;
    --color-chart-category-02: #8cc0e3;
    --color-chart-category-03: #eb8900;
    --color-chart-category-04: #ffcf57;
    --color-chart-category-05: #778e4a;
    --color-chart-category-06: #72ba7a;
    --color-chart-category-07: #907d52;
    --color-chart-category-08: #e0c8af;
    --color-chart-category-09: #558c93;
    --color-chart-category-10: #b4d8d8;
    --color-chart-category-11: #d54e16;
    --color-chart-category-12: #ffa5b7;
    --color-chart-category-13: #175caa;
    --color-chart-category-14: #2082a6;
    --color-chart-category-15: #a155b9;
    --color-chart-category-16: #524094;
    --color-chart-category-17: #c39a6d;
    --color-chart-category-18: #fdb416;
    --color-chart-category-19: #b487e2;
    --color-chart-category-20: #f765a4;
    color-scheme: dark;
  }
}
:root.dew-light-theme {
  --color-text-brand: #003fd2;
  --color-text-primary: #12334c;
  --color-text-secondary: #485a68;
  --color-text-disabled: #6f8396;
  --color-text-placeholder: #8e9dac;
  --color-text-inverse: #ffffff;
  --color-text-semantic-success: #00795c;
  --color-text-semantic-warning: #ac5000;
  --color-text-semantic-error: #cd2629;
  --color-text-semantic-info: #003fd2;
  --color-text-semantic-highlight: #8537fa;
  --color-icon-primary: #2b3640;
  --color-icon-secondary: #485a68;
  --color-icon-selected: #276cf0;
  --color-icon-disabled: #6f8396;
  --color-icon-inverse: #ffffff;
  --color-icon-semantic-success: #00795c;
  --color-icon-semantic-warning: #ac5000;
  --color-icon-semantic-error: #cd2629;
  --color-icon-semantic-info: #276cf0;
  --color-icon-semantic-highlight: #8537fa;
  --color-fill-surface: #ffffff;
  --color-fill-container: #f6f7f8;
  --color-fill-base: #eceff1;
  --color-fill-neutral-mild: #264a67;
  --color-fill-neutral: #1b3e59;
  --color-fill-neutral-bold: #12334c;
  --color-fill-brand: #276cf0;
  --color-fill-semantic-success-mildest: #daf3ee;
  --color-fill-semantic-success-mild: #10b08f;
  --color-fill-semantic-success: #009272;
  --color-fill-semantic-success-bold: #00795c;
  --color-fill-semantic-warning-mildest: #feecd5;
  --color-fill-semantic-warning-mild: #ed7d27;
  --color-fill-semantic-warning: #cf6121;
  --color-fill-semantic-warning-bold: #ac5000;
  --color-fill-semantic-error-mildest: #ffe9ee;
  --color-fill-semantic-error-mild: #f97071;
  --color-fill-semantic-error: #f33735;
  --color-fill-semantic-error-bold: #cd2629;
  --color-fill-semantic-error-bolder: #a62426;
  --color-fill-semantic-info-mildest: #def0ff;
  --color-fill-semantic-info-mild: #88beff;
  --color-fill-semantic-info: #6aa8ff;
  --color-fill-semantic-info-bold: #003fd2;
  --color-fill-semantic-highlight-mildest: #f0ebff;
  --color-fill-semantic-highlight-mild: #a987fc;
  --color-fill-semantic-highlight: #9561fb;
  --color-fill-semantic-highlight-bold: #8537fa;
  --color-fill-semantic-on: #276cf0;
  --color-fill-semantic-off: #6f8396;
  --color-overlay-base: var(--color-overlay-neutral);
  --color-overlay-container: var(--color-fill-surface);
  --color-overlay-base-container: var(--color-fill-container);
  --color-overlay-neutral: rgba(171, 184, 196, 0.2);
  --color-overlay-backdrop-bold: rgba(18, 51, 76, 0.5);
  --color-overlay-semantic-success: rgba(79, 201, 175, 0.2);
  --color-overlay-semantic-warning: rgba(248, 163, 75, 0.2);
  --color-overlay-semantic-error: rgba(248, 158, 160, 0.2);
  --color-overlay-semantic-info: rgba(165, 210, 255, 0.2);
  --color-overlay-semantic-highlight: rgba(191, 169, 253, 0.2);
  --color-boundary-border-mildest: #eaeef2;
  --color-boundary-border-milder: #dde3e9;
  --color-boundary-border-mild: #c9d3db;
  --color-boundary-border: #8e9dac;
  --color-boundary-border-boldest: #27313b;
  --color-boundary-border-inverse: #ffffff;
  --color-boundary-divider-mildest: #eaeef2;
  --color-boundary-divider: #c9d3db;
  --color-boundary-brand: #276cf0;
  --color-boundary-semantic-success-mildest: #daf3ee;
  --color-boundary-semantic-success-mild: #9ddfd0;
  --color-boundary-semantic-success: #009272;
  --color-boundary-semantic-warning-mildest: #feecd5;
  --color-boundary-semantic-warning-mild: #fbc88c;
  --color-boundary-semantic-warning: #cf6121;
  --color-boundary-semantic-error-mildest: #ffe9ee;
  --color-boundary-semantic-error-mild: #ffc2cb;
  --color-boundary-semantic-error: #f33735;
  --color-boundary-semantic-error-bold: #a62426;
  --color-boundary-semantic-info-mildest: #def0ff;
  --color-boundary-semantic-info-mild: #c1e2ff;
  --color-boundary-semantic-info: #6aa8ff;
  --color-boundary-semantic-highlight-mildest: #f0ebff;
  --color-boundary-semantic-highlight-mild: #d7cbfe;
  --color-boundary-semantic-highlight: #9561fb;
  --color-shadow: #12334c;
  --color-shadow-5: rgba(18, 51, 76, 0.05);
  --color-shadow-10: rgba(18, 51, 76, 0.1);
  --color-shadow-20: rgba(18, 51, 76, 0.2);
  --color-shadow-25: rgba(18, 51, 76, 0.25);
  --color-shadow-100: #12334c;
  --color-scrim: #12334c;
  --color-key: #000000;
  --color-chart-category-01: #5f9cec;
  --color-chart-category-02: #8cc0e3;
  --color-chart-category-03: #eb8900;
  --color-chart-category-04: #ffcf57;
  --color-chart-category-05: #778e4a;
  --color-chart-category-06: #72ba7a;
  --color-chart-category-07: #907d52;
  --color-chart-category-08: #e0c8af;
  --color-chart-category-09: #558c93;
  --color-chart-category-10: #b4d8d8;
  --color-chart-category-11: #d54e16;
  --color-chart-category-12: #ffa5b7;
  --color-chart-category-13: #175caa;
  --color-chart-category-14: #2082a6;
  --color-chart-category-15: #a155b9;
  --color-chart-category-16: #524094;
  --color-chart-category-17: #c39a6d;
  --color-chart-category-18: #fdb416;
  --color-chart-category-19: #b487e2;
  --color-chart-category-20: #f765a4;
}
