:root.dew-light-theme {
  --gradient-fill: none;
  --border-none: none;
  --shadow-focus-checkbox: 0 0 0 1px var(--color-boundary-brand);
  --stroke-width: 4;
  --border-accordion: 1px solid var(--color-boundary-border-mildest);
}

:root.dew-dark-theme {
  --gradient-fill: none;
  --border-none: none;
  --shadow-focus-checkbox: 0 0 0 1px var(--color-boundary-brand);
  --stroke-width: 4;
  --border-accordion: 1px solid var(--color-boundary-border-mildest);
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  :root.dew-system-theme {
    --gradient-fill: none;
    --border-none: none;
    --shadow-focus-checkbox: 0 0 0 1px var(--color-boundary-brand);
    --stroke-width: 4;
    --border-accordion: 1px solid var(--color-boundary-border-mildest);
    color-scheme: dark;
  }
}

