:root.dew-light-theme {
  --gradient-fill: none;
}

:root.dew-dark-theme {
  --gradient-fill: none;
  color-scheme: dark;
}

@media (prefers-color-scheme: dark) {
  :root.dew-system-theme {
    --gradient-fill: none;
    color-scheme: dark;
  }
}

