:host {
  display: block;
}

.drag-item {
  display: flex;
  background: var(--color-fill-surface, #ffffff);
  border: 1px solid var(--color-boundary-border-mildest, #ebeff3);
  box-shadow: var(--box-shadow-none, 0px 2px 4px rgba(18, 52, 77, 0.06));
  border-radius: var(--border-radius-medium, 4px);
  padding-inline: 12px;
  padding-block: 8px;
  align-items: center;
  margin-inline: 0px;
  margin-block: 8px;

  .drag-item__label {
    flex: 1 1 auto;
    color: var(--color-text-primary, $app-primary-black);
  }

  .drag-item__prefix {
    flex: 0 0 auto;
    display: flex;
    align-items: center;

    &.pinned {
      --fw-icon-color: var(--color-icon-semantic-warning, #12344d);
    }
  }

  .drag-item__suffix {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
  }

  .drag-icon {
    padding-inline-end: 12px;

    &.drag {
      &:hover,
      &:focus {
        cursor: grab;
      }
    }
  }
}
