:host {
  display: block;
}

.progress-content {
  margin-block-start: 9px;
  display: flex;
  flex-direction: row;

  .progress-content-icon {
    height: 26px;
    width: 26px;
  }

  .progress-content-file {
    display: flex;
    flex-direction: row;
    padding-inline-start: 4px;
    box-sizing: border-box;
    width: 258px;
    flex-wrap: wrap;

    .progress-content-file-name {
      font-size: var(--font-size-14, 14px);
      line-height: var(--line-height-20, 20px);
      font-weight: var(--font-weight-medium, 500);
      color: var(--color-text-primary, $color-elephant-900);
      width: calc(100% - 50px);
    }

    .progress-content-file-percentage {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: var(--font-size-12, 10px);
      line-height: var(--line-height-20, 20px);
      color: var(--color-text-placeholder, $color-smoke-300);
      width: 50px;
      text-align: end;

      fw-icon {
        cursor: pointer;
      }
    }

    .progress-content-progress-bar {
      position: relative;
      height: 4px;
      width: 100%;
      background-color: var(--color-fill-base, $color-smoke-100);
      border-radius: 8px;
      margin-block-start: 4px;

      &-fill {
        height: 4px;
        border-radius: 4px;
        background-color: var(--color-fill-brand, $color-azure-800);
      }
    }

    .progress-content-error {
      font-size: 12px;
      padding: 2px;
      color: var(--color-text-semantic-error, $color-persimmon-800);
    }
  }
}
