/**
  @prop --fw-label-padding-vertical: Top - bottom padding for label
  @prop --fw-label-padding-horizontal: Left - Right padding if direction is left-to-right, and Right - Left padding if direction is right-to-left for label

*/

:host {
  --fw-label-padding-vertical: 5px;
  --fw-label-padding-horizontal: 8px;
}

.label {
  color: var(--color-text-primary, #6f7c87);
  border: 1px solid var(--color-boundary-border-mildest, #dadfe3);
  background-color: $color-milk;
  font-weight: 600;
  line-height: $line-height-label;
  font-size: $font-size-12;
  padding-block: var(--fw-label-padding-vertical);
  padding-inline: var(--fw-label-padding-horizontal);
  display: inline-block;
  border-radius: 4px;

  &--blue {
    background-color: var(--color-text-semantic-info-mildest, $color-azure-50);
    color: var(--color-text-semantic-info, $color-azure-800);
    border: var(--border-none, 1px solid $color-azure-100);
  }

  &--red {
    background-color: var(
      --color-text-semantic-error-mildest,
      $color-persimmon-50
    );
    color: var(--color-text-semantic-error, $color-persimmon-800);
    border: var(--border-none, 1px solid $color-persimmon-100);
  }

  &--green {
    background-color: var(
      --color-text-semantic-success-mildest,
      $color-jungle-50
    );
    color: var(--color-text-semantic-success, $color-jungle-800);
    border: var(--border-none, 1px solid $color-jungle-100);
  }

  &--yellow {
    background-color: var(
      --color-text-semantic-warning-mildest,
      $color-casablanca-50
    );
    color: var(--color-text-semantic-warning, $color-casablanca-700);
    border: var(--border-none, 1px solid $color-casablanca-100);
  }

  &--grey {
    background-color: var(--color-fill-base, $color-smoke-50);
    color: var(--color-text-secondary, $color-smoke-700);
    border: none;
  }
}
