/**
  @prop --fw-hint-color: Color of the hint text.
  @prop --fw-warning-color: Color of the warning text.
  @prop --fw-error-color: Color of the error text.
*/

@import '../../function-components/field-control.scss';

:host {
  display: inline-block;
  position: relative;
}

/* Focus event occurs on the root element */
/* stylelint-disable-next-line a11y/no-outline-none -- currently on focus,
  outline is on checkbox. if we dont remove outline on host there will be a
  second outline wrapping label and description.
*/
:host(:focus) {
  outline: none;

  input[type='checkbox'] + label {
    &::before {
      border: 1px solid transparent;
      box-shadow: var(--shadow-focus-checkbox, 0 0 0 2px rgb(44, 92, 197));
    }
  }
  input[type='checkbox'] {
    &:checked + label {
      &::before {
        border: 1px solid var(--color-fill-surface, #ffffff);
      }
    }
  }

  input[type='checkbox'][disabled] + label {
    &::before {
      box-shadow: none;
      border: 1px solid #dadfe3;
    }
  }
}

/* Hover event occurs on the root element */
:host(:hover) {
  input[type='checkbox'] + label {
    &::before {
      border-color: var(--color-boundary-border, $checkbox-color);
      box-shadow: 0 0 0 var(--border-width-large, 5px)
        var(--color-boundary-border-milder, rgb(235, 239, 243));
    }

    &.error::before {
      border-color: var(--color-boundary-semantic-error, $color-azure-800);
    }
  }

  input[type='checkbox'] {
    &:checked + label {
      &::before {
        border-color: var(--color-fill-brand, $color-azure-800);
      }

      &.error::before {
        border-color: var(--color-boundary-semantic-error, $color-azure-800);
      }
    }
  }

  input[type='checkbox'][disabled] + label {
    cursor: not-allowed;

    &::before {
      box-shadow: none;
      border: 1px solid #dadfe3;
    }
  }
}

.checkbox-container {
  cursor: pointer;

  &.disabled {
    cursor: not-allowed;
  }
}

#description {
  font-size: 12px;
  color: var(--color-text-secondary, #475867);
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  font-weight: 400;
  word-wrap: break-word;
  padding-inline-start: 22px;
}

input[type='checkbox'] {
  display: none;

  & + label {
    user-select: none;
    margin-block-end: 0;
    vertical-align: middle;
    font-size: 14px;
    color: var(--color-text-primary, #12344d);
    line-height: 20px;
    font-weight: 400;
    cursor: inherit;

    .with-description {
      font-weight: 600;
    }

    #label {
      padding-inline-start: 22px;
      box-decoration-break: clone;
      -webkit-box-decoration-break: clone;

      &.required::after {
        content: '*';
        position: relative;
        display: inline-block;
        inset-block-start: 2px;
        font-size: 14px;
        color: $app-error;
        padding-inline-start: 2px;
        font-weight: $font-weight-bold;
      }
    }

    @media screen and (prefers-reduced-motion: reduce) {
      &::before {
        transition: none;
      }
    }

    &::before {
      position: absolute;
      inset-inline-start: 0;
      inset-block-start: 4px;
      display: block;
      content: '';
      border: $checkbox-border-width solid
        var(--color-boundary-border, $color-smoke-700);
      height: 14px;
      width: 14px;
      background-color: var(--color-fill-base, $input-bg);
      transition: all 0.2s ease;
      box-sizing: border-box;
      border-radius: var(--border-radius-xsmall, 2px);
    }

    &.error {
      @media screen and (prefers-reduced-motion: reduce) {
        &::before {
          transition: none;
        }
      }
      &::before {
        position: absolute;
        inset-inline-start: 0;
        inset-block-start: 4px;
        display: block;
        content: '';
        border: $checkbox-border-width solid
          var(--color-boundary-semantic-error, $app-error);
        height: 14px;
        width: 14px;
        background-color: var(--color-fill-base, $input-bg);
        box-sizing: border-box;
        border-radius: 2px;
        transition: all 0.2s ease;
      }
    }

    @media screen and (prefers-reduced-motion: reduce) {
      .after {
        transition: none;
      }
    }

    .after {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      content: '';
      inset-inline-start: 3px;
      inset-block-start: 7px;
      width: 8px;
      height: 8px;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
      box-sizing: border-box;
    }
  }

  &:checked + label {
    &::before {
      background: var(--color-fill-brand, $checkbox-checked-color);
      border-color: var(--color-fill-brand, $checkbox-checked-color);
      box-shadow: none;
    }

    &.error::before {
      background: var(--color-fill-semantic-error, $checkbox-checked-color);
      border-color: var(--color-boundary-semantic-error, $color-azure-800);
    }

    .after {
      opacity: 1;
    }
  }

  &:indeterminate + label {
    &::before {
      background: var(--color-fill-neutral, $checkbox-checked-color);
      border-color: var(--color-fill-neutral, $checkbox-checked-color);
      box-shadow: none;
    }

    &.error::before {
      background: var(--color-fill-semantic-error, $checkbox-checked-color);
      border-color: var(--color-boundary-semantic-error, $color-azure-800);
    }

    .after {
      opacity: 1;
    }
  }

  &:checked:hover + label {
    &::before {
      border-color: var(--color-fill-brand, $color-azure-800);
      box-shadow: 0 0 0 5px rgb(235, 239, 243);
    }

    .after {
      opacity: 1;
    }
  }

  &:checked:focus + label {
    &::before {
      background: var(--color-fill-base, $checkbox-checked-color);
      border-color: $app-light-bg;
      box-shadow: 0 0 0 1px rgb(44, 92, 197);
    }

    .after {
      opacity: 1;
    }
  }

  &[disabled] {
    & + label {
      color: var(--color-text-primary, $color-smoke-300);

      .label-field {
        color: var(--color-text-primary, $color-smoke-300);
      }

      &::before {
        border-color: var(--color-boundary-border-mild, $disabled-color);
        background-color: var(--color-fill-base, $ticket-tag-background);
      }
    }

    &:checked + label {
      color: var(--color-text-primary, $color-smoke-300);

      &::before {
        background-color: var(--color-fill-base, $ticket-tag-background);
        border-color: var(--color-boundary-border-mild, $disabled-color);
      }
    }
  }
}
