@import '../styles/variables/form-builder-style-utils.scss';

:host {
  display: inline-block;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.fb-field-choice-source-root {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.fb-field-choice-source {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;

  .fb-field-choice-source-data-source-select-container,
  .fb-field-choice-source-dropdown-field-select-container {
    height: auto;
    box-sizing: border-box;
    width: 220px;
    max-width: 100%;
  }

  .fb-field-choice-source-data-source-select,
  .fb-field-choice-source-dropdown-field-select {
    width: 100%;

    .fw-button-group__button--last {
      width: 100%;
    }
  }
}
