:host {
  display: flex;
  align-items: center;
}

.current-record {
  color: var(--color-text-secondary, $app-info-color);
  margin-inline-start: 10px;
  margin-inline-end: 14px;
  line-height: 20px;
  font-size: 14px;

  .record {
    font-weight: var(--font-weight-regular, 700);
  }
}
